.content{
	width: 100%;
}
.content .banner{
	width: 100%;
	height: 592px;
	overflow: hidden;
	position: relative;
}
.content .banner img{
	width: 1920px;
	height: 592px;
	left: 50%;
	margin-left: -960px;
    position: absolute;
}
.content .about{
	width: 1192px;
	height: 1095px;
	/*background: pink;*/
	margin: 0 auto;
}
.content .about .sidebar{
	width: 376px;
	height: 879px;
	float: left;
	margin-top: 172px;
	/*background: red;*/
}
.content .about .sidebar ul li{
	width: 315px;
	height: 66px;
	background: url(../img/about_us_bg.jpg) no-repeat;
	text-align: center;
	line-height: 66px;
	margin-top: 39px;
}
.content .about .sidebar ul li:hover{
	background: url(../img/about_us_bg02.jpg) no-repeat;
}
.content .about .sidebar ul li:first-child{
	background: url(../img/about_us_bg02.jpg) no-repeat;
}
.content .about .sidebar ul li a{
	color: white;
	margin-right: 64px;
	font-family: "微软雅黑";
	font-size: 24px;
}
.content .about .sidebar ul li:first-child a{
	color: #0fe7f4;
}
.content .about .sidebar ul li a:hover{
	color: #0fe7f4;
}
.content .about .container{
	width: 815px;
	height: 1095px;
	/*background: gray;*/
	float: right;
}
.content .about .container .location{
	width: 766px;
	height: 64px;
    border-bottom: 2px solid;
    float: right;
}
.content .about .container .location ol{
	float: left;
	margin-top: 35px;
	color: #6a7fbe;	
	font-size: 18px;
	font-family: "微软雅黑";
	
}
.content .about .container .location ul {
	width: 224px;
	float: right;
	margin-top: 45px;
    font-size: 12px;
}
.content .about .container .location ul div{
	color: #6a7fbe;	
	padding-left: 55px;
	
}
.content .about .container .location ul .current{
	float: left;
}
.content .about .container .location ul li{
	float: left;
	
}
.content .about .container .location ul li a{
	color: #6a7fbe;	
}
.content .about .container .pro_list ul{
	float: left;
}
.content .about .container .pro_list ul li{
	float: left;
	margin-left: 8px;
	margin-bottom: 56px;
/*	position: relative;*/
}
.content .about .container .pro_list ul li span{
	position: absolute;
	width: 262PX;
	height: 56px;
	background: url(../img/product.png);
	display: block;
	color: white;
	line-height: 56px;
	text-align: center;
	margin-top: 67px;
	display: none;
}
.content .about .container .pro_list ul li:hover span{display: block;}

.content .about .page{
	width: 378px;
	height: 130px;
	line-height: 130px;
	margin-left: 440px;
	margin-top: 70px;
	font-size: 24px;
	font-family: "微软雅黑";
}
.content .about .page ul li{
	float: left;
	padding: 10px;
}
.content .about .page ul li:first-child+li+li a{
	color: red;
	border: 1px solid red;
}
.content .about .page ul li a{
    border: 1px solid white;
    font-family: "微软雅黑";
    font-size: 24px;
}
.content .about .page ul li a:hover{
	color: red;
	border: 1px solid red;
}